<html>
    <head>
        <title>Biffs</title>
    </head>
    <body>
        <form action="/login" method="post">
            Username: <input type="text" name="username" value="" /> <br />
            Password: <input type="text" name="password" value="" /> <br />
            <input type="submit" value="Log-in" />
        </form>
        <%= session.to_s %>
    </body>
</html>
