<html>
	<head>
        <title>Biffs</title>
    </head>
    <body>
		<% if flash[:error] %>
			<p class="notice"><%= flash[:error] %>
		<% end %>
        <form action="/login" method="post">
            Username: <input type="text" name="username" value="" /> <br />
            Password: <input type="password" name="password" value="" /> <br />
            <input type="submit" value="Log-in" />
        </form>
    </body>
</html>
